@import '~antd/es/style/themes/default.less';

.systemMenu {
  padding-top: 20px;
}
.edit {
  color: #fff;
  background: #48d795;
  border-color: #48d795;
  &:hover {
    color: #fff;
    background: #6eeeae;
    border-color: #6eeeae;
  }
}
.searchBtn {
  height: 32px;
  margin-right: 8px;
  border-radius: 10px;
}
.useTable {
  :global(.ant-table-thead > tr > th) {
    background: none;
  }
  :global(.ant-table-thead
      > tr
      > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before) {
    width: 0;
  }
}
.iconBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 60px;
    font-size: 20px;
    border: 1px solid transparent;
    cursor: pointer;
  }
}
