@import '~antd/es/style/themes/default.less';

@font-face {
  font-family: 'PingFangSC-Semibold';
  src: local('RoboData'), url('/public/fonts/PingFang-SC-Semibold.ttf') format('truetype');
}
.cardBox {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 0;
  .title {
    padding: 0 15px;
    .leftText{
      display: flex;
      align-items: center;
    }
    .icon {
      width: 5px;
      height: 15px;
      background: #5A7FD8;
      border-radius: 6px;
      margin-right: 10px;
    }
    .name {
      font-size: 14px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: #333333;
      line-height: 20px;
    }
  }
}
